
<li class="has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="material-icons">assignment</i>
        <span>Examenes</span>
    </a>
    <ul class="sub-menu">
        <li><a href="{% url 'examenes:registrar_examen' %}">Registrar</a></li>
        <li><a href="{% url 'examenes:consultar_examenes' %}">Listar</a></li>
    </ul>
</li>