
<li class="has-sub">
    <a href="javascript:">
        <b class="caret"></b>
        <i class="material-icons">assignment</i>
        <span>Examenes</span>
    </a>
    <ul class="sub-menu">
        <li><a href="{% url 'examenes:consultar_examenes_estudiante' %}">Listar examenes pendientes</a></li>
        <li><a href="{% url 'examenes:consultar_examenes_resueltos_estudiante' %}">Listar examenes resueltos</a></li>
    </ul>
</li>