
<li class="has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="material-icons">question_answer</i>
        <span>Preguntas</span>
    </a>
    <ul class="sub-menu">
        <li><a href="{% url 'examenes:registrar_pregunta' %}">Registrar</a></li>
        <li><a href="{% url 'examenes:consultar_preguntas' %}">Listar</a></li>
    </ul>
</li>