
<li class="has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="material-icons">people</i>
        <span>Grupos</span>
    </a>
    <ul class="sub-menu">
        {% if user.rol == 'Profesor' %}
            <li><a href="{% url 'grupos:registrar_grupo' %}">Registrar</a></li>
            <li><a href="{% url 'grupos:consultar_grupos' %}">Listar</a></li>
        {% elif user.rol == 'Estudiante' %}
            <li><a href="{% url 'grupos:consultar_grupos_estudiante' %}">Listar</a></li>
        {% endif %}
    </ul>
</li>