
<li class="has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="material-icons">book</i>
        <span>Usuarios</span>
    </a>
    <ul class="sub-menu">
        <li><a href="{% url 'usuarios:registrar_usuario' %}">Registrar</a></li>
        <li><a href="{% url 'usuarios:consultar_usuarios' %}">Listar</a></li>
    </ul>
</li>