{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block titulo_pagina %}
    Información de usuario
{% endblock %}

{% block titulo %}
    Información de usuario
{% endblock %}

{% block subtitulo %}
    Información detallada del usuario
{% endblock %}

{% block titulo_panel %}
    Información de {{ usuario.first_name }} {{ usuario.last_name }}
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex" style="justify-content: center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <img class="img-usuario" src="{% if usuario.imagen_perfil %}{{ usuario.imagen_perfil }}{% else %}{% static 'img/user/user-12.jpg' %}{% endif %}">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-9">
                    <p>
                        <b>Nombre: </b>{{ usuario.first_name }} {{ usuario.last_name }}
                    </p>
                    <p>
                        <b>Correo electrónico: </b> {{ usuario.email }}
                    </p>
                    <p>
                        <b>Nombre de usuario: </b> {{ usuario.username }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-t-10">
                    <a class="btn btn-default pull-left" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'inicio' %}{% endif %}">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}