{% extends "base_tablas.html" %}

{% block titulo_pagina %}
    Listado de usuarios
{% endblock %}

{% block titulo %}
    Listado de usuarios
{% endblock %}

{% block subtitulo %}
    Información de los usuarios del sistema
{% endblock %}

{% block titulo_panel %}
    Listado de  usuarios
{% endblock %}

{% block contenido_panel %}
    <table class="data-combine table table-bordered">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Nombre de usuario
                </th>
                <th>
                    Email
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in lista_usuarios %}
                <tr>
                    <td>
                        {{ usuario.first_name }} {{ usuario.last_name }}
                    </td>
                    <td>
                        {{ usuario.username }}
                    </td>
                    <td>
                        {{ usuario.email }}
                    </td>
                    <td>
                        {{ usuario.rol }}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'usuarios:detalle_usuario' usuario.id %}">Ver datos</a>
                        <a class="btn btn-sm btn-info" href="{% url 'usuarios:modificar_usuario' usuario.id %}">Modificar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}