{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>ExamSys | Iniciar sesión</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/bootstrap/4.1.0/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme"/>
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet"/>

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top">
<!-- begin #page-loader -->
<div id="page-loader" class="fade show">
    <div class="material-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
        <div class="message">Loading...</div>
    </div>
</div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login bg-black animated fadeInDown">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
                ExamSys
                <small>Iniciar sesión</small>
            </div>
            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <!-- end brand -->
        <!-- begin login-content -->
        <div class="login-content">
            <form method="POST" class="margin-bottom-0">{% csrf_token %}
                {% bootstrap_form form %}
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Iniciar sesión</button>
                </div>
            </form>
        </div>
        <!-- end login-content -->
    </div>
    <!-- end login -->

</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js' %}"></script>
<!--[if lt IE 9]>
		<script src="{% static 'crossbrowserjs/html5shiv.js' %}" ></script>
		<script src="{% static 'crossbrowserjs/respond.min.js' %}" ></script>
		<script src="{% static 'crossbrowserjs/excanvas.min.js' %}" ></script>
	<![endif]-->
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'js/theme/material.min.js' %}"></script>
<script src="{% static 'js/apps.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script>
    $(document).ready(function () {
        App.init();
    });

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "15000",
        "extendedTimeOut": "50000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };


    {% for msg in messages %}
        $(document).ready(function () {
            setTimeout(function () {
                toastr["{{ msg.tags }}"]("{{msg}}")
            }, 500);
        });
    {% endfor %}
</script>
</body>
</html>
