{% extends "base.html" %}

{% load bootstrap4 %}

{% block titulo_panel %}
    Registrar usuario
{% endblock %}

{% block contenido_panel %}
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form layout="vertical" %}
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
{% endblock %}