<ul class="nav">
    <li class="nav-header">Menú</li>
    {% if user.rol == "Administrador" %}
        {% include 'menu/menu_administrador.html' %}
    {% elif user.rol == "Estudiante" %}
        {% include 'menu/menu_estudiante.html' %}
    {% elif user.rol == "Profesor" %}
        {% include 'menu/menu_profesor.html' %}
    {% endif %}

    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>
            