table, .select2{
    width: 100% !important;
}

.img-pregunta{
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.alert-outline{
    border: 1px solid #ddd;
}

.card-outline-default{
    border: 1px solid #ddd !important;
}

.img-usuario{
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.btn, button{
    margin: 2px;
}