{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>ExamSys | {% block titulo_pagina %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/bootstrap/4.1.0/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme"/>
    <!-- ================== END BASE CSS STYLE ================== -->

    <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet"/>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    {{ form.media.css }}

    {% block css %}
    {% endblock %}
    <link href="{% static 'css/estilos_personalizados.css' %}" rel="stylesheet"/>

</head>
<body>
<!-- begin #page-loader -->
<div id="page-loader" class="fade show">
    <div class="material-loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
        <div class="message">Loading...</div>
    </div>
</div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">
    <!-- begin #header -->
    <div id="header" class="header navbar-default">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">
                ExamSys (MS)
            </a>
        </div>
        <!-- end navbar-header -->

        <!-- begin header-nav -->
        <ul class="navbar-nav navbar-right">
            {% comment %}
            <li>
                <a href="#" data-toggle="navbar-search" class="icon">
                    <i class="material-icons">search</i>
                </a>
            </li>
            <li class="dropdown">
                    <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle icon">
                        <i class="material-icons">inbox</i>
                        <span class="label">5</span>
                    </a>
                    <ul class="dropdown-menu media-list dropdown-menu-right">
                    <li class="dropdown-header">NOTIFICATIONS (5)</li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left">
                                <i class="fa fa-bug media-object bg-silver-darker"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
                                <div class="text-muted f-s-11">3 minutes ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left">
                                <img src="{% static 'img/user/user-1.jpg' %}" class="media-object" alt=""/>
                                <i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">{{ user.first_name }}{{ user.last_name }}</h6>
                                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                <div class="text-muted f-s-11">25 minutes ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left">
                                <img src="{% static 'img/user/user-2.jpg' %}" class="media-object" alt=""/>
                                <i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">Olivia</h6>
                                <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                <div class="text-muted f-s-11">35 minutes ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left">
                                <i class="fa fa-plus media-object bg-silver-darker"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"> New User Registered</h6>
                                <div class="text-muted f-s-11">1 hour ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left">
                                <i class="fa fa-envelope media-object bg-silver-darker"></i>
                                <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"> New Email From John</h6>
                                <div class="text-muted f-s-11">2 hour ago</div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer text-center">
                        <a href="javascript:;">View more</a>
                    </li>
                </ul>
            </li>
            {% endcomment %}
            {% if user.id %}
                <li class="dropdown navbar-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="d-none d-md-inline">{{ user.first_name }} {{ user.last_name }}</span>
                        <img src="{% if user.imagen_perfil %}{{ user.imagen_perfil }}{% else %}{% static 'img/user/user-12.jpg' %}{% endif %}" alt=""/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'usuarios:detalle_usuario' user.id %}" class="dropdown-item">Ver perfil</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'usuarios:logout' %}" class="dropdown-item">Cerrar sesión</a>
                    </div>
                </li>
            {% else %}
                <a href="{% url 'usuarios:login' %}" class="btn btn-info btn-sm m-15">Iniciar sesión</a>
            {% endif %}
        </ul>
        <!-- end header navigation right -->
        {% comment %}
        <div class="search-form">
            <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
            <input type="text" class="form-control" placeholder="Search Something..."/>
            <a href="#" class="close" data-dismiss="navbar-search"><i class="material-icons">close</i></a>
        </div>




        {% endcomment %}
    </div>
    <!-- end #header -->

    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar" data-disable-slide-animation="true">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            {% if user.id %}

                <ul class="nav">

                    <li class="nav-profile">
                        <a href="javascript:;" data-toggle="nav-profile">
                            <div class="cover with-shadow"></div>
                            <div class="image">
                                <img src="{% if user.imagen_perfil %}{{ user.imagen_perfil }}{% else %}{% static 'img/user/user-12.jpg' %}{% endif %}" alt=""/>
                            </div>
                            <div class="info">
                                <b class="caret pull-right"></b>
                                {{ user.first_name }} {{ user.last_name }}
                                <small>{{ user.rol }}</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <ul class="nav nav-profile">
                            <li><a href="{% url 'usuarios:detalle_usuario' user.id %}"><i class="fa fa-cog"></i>Ver perfil</a></li>
                            <li><a href="{% url 'usuarios:logout' %}"><i class="fa fa-pencil-alt"></i>Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            {% include "menu/menu_base.html" %}
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            {% block miga_pan %}
                {% comment %}
                    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:;">Page Options</a></li>
                    <li class="breadcrumb-item active">Page with Footer</li>
                {% endcomment %}
            {% endblock %}
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">{% block titulo %}{% endblock %}
            <small>{% block subtitulo %}{% endblock %}</small>

        </h1>
        <!-- end page-header -->

        <!-- begin panel -->
        {% block contenido %}
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        {% block botones_panel %}
                            {% comment %}
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            {% endcomment %}
                        {% endblock %}
                    </div>
                    <h4 class="panel-title">{% block titulo_panel %}Panel{% endblock %}</h4>
                </div>
                <div class="panel-body">
                    {% block contenido_panel %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        <!-- end panel -->
    </div>
    <!-- end #content -->

    <!-- begin #footer -->
    <div id="footer" class="footer">
        &copy; 2018 ExamSys
    </div>
    <!-- end #footer -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="material-icons">keyboard_arrow_up</i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js' %}"></script>
<!--[if lt IE 9]>
		<script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'js/theme/material.min.js' %}"></script>
<script src="{% static 'js/apps.min.js' %}"></script>
<!-- ================== END BASE JS ================== -->
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script>
    $(document).ready(function () {
        App.init();
    });
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "15000",
        "extendedTimeOut": "50000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };


    {% for msg in messages %}
        $(document).ready(function () {
            setTimeout(function () {
                toastr["{{ msg.tags }}"]("{{msg}}")
            }, 500);
        });
    {% endfor %}
</script>
<script src="{% static 'js/apps/generales/activar_menu.js' %}"></script>

{{ form.media.js }}

{% block js %}
{% endblock %}
</body>
</html>
