{% extends 'base.html' %}
{% load static %}

{% block css %}

	<link href="{% static 'plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}

	<script src="{% static 'plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
    <script>
        var static_url = "{% get_static_prefix %}";
    </script>
	<script src="{% static 'js/apps/generales/datatable.js' %}"></script>
    
    
	<script>
		$(document).ready(function() {
			TableManageCombine.init();
		});
	</script>
    
{% endblock %}