<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <h4>Enunciado:</h4>
            <div class="col-sm-12">
                <div class="card card-outline-default">
                    <div class="card-block">
                        <div class="enunciado-pregunta table-responsive">
                            {{ pregunta.enunciado|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h5>Opciones de respuesta:</h5>
            {% for respuesta in pregunta.respuestas %}
                <div class="col-sm-12">
                    <div class="card {% if respuesta.es_correcta %}card-outline-success{% else %}card-outline-info{% endif %}">
                        {% if respuesta.es_correcta %}
                            <div class="card-block">
                                <h4 style="color: green">Respuesta correcta</h4>
                            </div>
                        {% endif %}
                        <div class="card-block d-flex flex-row justify-content-start flex-wrap-reverse align-items-center">
                            {% if respuesta.imagen %}
                                <img class="img-pregunta m-10" src="{{ respuesta.imagen.url }}">
                            {% endif %}
                            <p class="m-10">
                                {{ respuesta.respuesta }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>

</script>