{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block titulo_pagina %}
    Información de pregunta
{% endblock %}

{% block titulo %}
    Información de pregunta
{% endblock %}

{% block subtitulo %}
    Información detallada de la pregunta
{% endblock %}

{% block titulo_panel %}
    Información de pregunta
{% endblock %}

{% block contenido_panel %}

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            {% include '_informacion_pregunta.html' %}
            <div class="row">
                <div class="col-sm-12 m-t-10">
                    <a class="btn btn-default pull-left" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'examenes:consultar_preguntas' %}{% endif %}">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/apps/examenes/enunciado-pregunta.js' %}"></script>
{% endblock %}
