{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block titulo_pagina %}
    Información de examen
{% endblock %}

{% block titulo %}
    Información de examen
{% endblock %}

{% block subtitulo %}
    Información detallada del examen
{% endblock %}

{% block titulo_panel %}
    Información de examen: {{ examen.titulo }}
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <h2>{{ examen.titulo }}</h2>
            {% for pregunta in examen.preguntas %}
                <div class="col-sm-12">
                    <div class="card card-outline-default">
                        <div class="card-header">
                            <h4>
                                <i class="fas fa-lg fa-fw m-r-10 fa-question-circle"></i>Pregunta {{ forloop.counter }}
                            </h4>
                        </div>
                        <div class="card-block">
                            {% include '_informacion_pregunta.html' %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-12 m-t-10">
                    <a class="btn btn-default pull-left" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'examenes:consultar_examenes' %}{% endif %}">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/apps/examenes/enunciado-pregunta.js' %}"></script>
{% endblock %}