{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block titulo_pagina %}
    Gestión de examen
{% endblock %}

{% block titulo %}
    Gestión de examen
{% endblock %}

{% block subtitulo %}
    Creación y edición de examenes
{% endblock %}

{% block titulo_panel %}
    Gestión de examen
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/jquery-smart-wizard/src/css/smart_wizard.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet"/>
    <style>
        tr.pregunta-seleccionada > td:first-child {
            border-left: 1px solid rgba(76, 175, 80, .9) !important;
            border-top: 1px solid rgba(76, 175, 80, .9) !important;
            border-bottom: 1px solid rgba(76, 175, 80, .9) !important;
        }

        tr.pregunta-seleccionada > td:last-child {
            border-right: 1px solid rgba(76, 175, 80, .9) !important;
            border-top: 1px solid rgba(76, 175, 80, .9) !important;
            border-bottom: 1px solid rgba(76, 175, 80, .9) !important;
        }

        tr.pregunta-seleccionada > td {
            border-top: 1px solid rgba(76, 175, 80, .9) !important;
            border-bottom: 1px solid rgba(76, 175, 80, .9) !important;
        }

        tr.pregunta-seleccionada {
            background: rgba(76, 175, 80, .3) !important;
        }
    </style>
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                {% bootstrap_field form.titulo layout="vertical" %}
                                {% bootstrap_field form.grupo layout="vertical" %}
                            </div>
                            <div class="col-sm-12 col-md-6">
                                {% bootstrap_field form.fecha_inicio layout="vertical" %}
                                {% bootstrap_field form.fecha_fin layout="vertical" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        {% if form.preguntas_originales.errors %}
                            <div class="alert alert-danger fade show">
                                <span class="close" data-dismiss="alert">×</span>
                                <b>Preguntas seleccionadas</b>
                                {{ form.preguntas_originales.errors }}
                            </div>
                        {% else %}
                            <b>Preguntas seleccionadas</b>
                        {% endif %}
                        <div class="table-responsive">
                            <table id="data-combine" class="data-combine table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 15%">
                                            Seleccionar
                                        </th>
                                        <th>
                                            Enunciado
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pregunta in form.preguntas_originales %}
                                        <tr>
                                            <td style="text-align: center">
                                                <div style="display:none">
                                                    {{ pregunta }}
                                                </div>
                                                <p class="texto-seleccionada"></p>
                                            </td>
                                            <td>
                                                <div class="enunciado-pregunta table-responsive">
                                                    {{ pregunta.data.label|safe }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{#                <a class="btn btn-default pull-left" href="{% url 'examenes:consultar_examenes' %}">Volver</a>#}
                <button type="submit" class="btn btn-primary pull-right">Enviar</button>
            </form>
        </div>


    </div>
{% endblock %}

{% block js %}

    <script src="{% static 'plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/extensions/ColReorder/js/dataTables.colReorder.min.js' %}"></script>
    <script>
        var static_url = "{% get_static_prefix %}";
    </script>
    <script src="{% static 'plugins/bootstrap-daterangepicker/moment.js' %}"></script>

    <script src="{% static 'plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

    <script>
        $fecha_inicio = $('#id_fecha_inicio');
        $fecha_fin = $('#id_fecha_fin');
        console.log($fecha_inicio.val());
        $fecha_inicio.datetimepicker({
            'format': 'YYYY-MM-DD HH:mm'
        });

        $fecha_fin.datetimepicker({
            'format': 'YYYY-MM-DD HH:mm',
        });
        $fecha_inicio.on("dp.change", function (e) {
            $('#id_fecha_fin').data("DateTimePicker").minDate(e.date);
        });
        $fecha_fin.on("dp.change", function (e) {
            $('#id_fecha_inicio').data("DateTimePicker").maxDate(e.date);
        });
    </script>
    <script>

        $(document).ready(function () {
            var table = $('#data-combine').DataTable({
                dom: 'lBfrtip',
                buttons: [],
                rowReorder: true,
                "language": {
                    "url": static_url + "plugins/DataTables/media/i18n/Spanish.json"
                },
                order: [0],
                columnDefs: [
                    {
                        targets: [0],
                        render: function (data, type, full, meta) {
                            if (type === 'sort') {
                                var api = new $.fn.dataTable.Api(meta.settings);
                                var td = api.cell({row: meta.row, column: meta.col}).node();
                                var $input = $('select, input', td);
                                if ($input.length && $input.is(':checked')) {
                                    data = 1;
                                } else {
                                    data = 0;
                                }
                            }
                            return data;
                        }
                    }
                ]
            });

            $('tbody input', table.table().node()).on('change', function (e) {
                table.row($(this).closest('tr')).invalidate();
                if ($(this).prop('checked')) {
                    $(this).closest('tr').addClass('pregunta-seleccionada')
                } else {
                    $(this).closest('tr').removeClass('pregunta-seleccionada')
                }
            });

            $('tbody tr', table.table().node()).on('click', function (e) {
                table.row($(this).closest('tr')).invalidate();
                $input = $(this).find('input[type="checkbox"]');
                if ($input) {
                    $input.prop("checked", !$input.prop("checked"));
                }
                if ($input.prop('checked')) {
                    $input.closest('tr').addClass('pregunta-seleccionada');
                    $(this).find('p.texto-seleccionada').html('<i class="fas fa-lg fa-fw fa-check text-green-darker" style="font-size:25px"></i>')
                } else {
                    $input.closest('tr').removeClass('pregunta-seleccionada');
                    $(this).find('p.texto-seleccionada').html('')
                }
            });

            $('tbody input', table.table().node()).each(function () {
                if ($(this).prop('checked')) {
                    $(this).closest('tr').addClass('pregunta-seleccionada');
                    $(this).closest('tr').find('p.texto-seleccionada').html('<i class="fas fa-lg fa-fw fa-check text-green-darker" style="font-size:25px"></i>');
                } else {
                    $(this).closest('tr').removeClass('pregunta-seleccionada');
                    $(this).closest('tr').find('p.texto-seleccionada').html('');
                }
            })
        });
    </script>
    <script src="{% static 'js/apps/examenes/enunciado-pregunta.js' %}"></script>

{% endblock js %}