{% extends "base_tablas.html" %}
{% load iso8601_datetime %}
{% load examen_disponible %}

{% block titulo_pagina %}
    Listado de examenes
{% endblock %}

{% block titulo %}
    Listado de examenes
{% endblock %}

{% block subtitulo %}
    Información de los examenes disponibles
{% endblock %}

{% block titulo_panel %}
    Listado de examenes
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="data-combine table table-bordered">
            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Grupo
                    </th>
                    <th>
                        Fecha de inicio
                    </th>
                    <th>
                        Fecha de fin
                    </th>
                    <th>
                        Iniciado
                    </th>
                    <th>
                        Terminado
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for examen in lista_examenes %}
                    <tr>
                        <td>
                            {{ examen.titulo }}
                        </td>
                        <td>
                            {{ examen.grupo.nombre }}
                        </td>
                        <td>
                            {{ examen.fecha_inicio|iso8601_datetime }}
                        </td>
                        <td>
                            {{ examen.fecha_fin|iso8601_datetime }}
                        </td>
                        <td>
                            {{ examen.iniciado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {{ examen.terminado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {% if examen|examen_disponible %}
                                <a class="btn btn-sm btn-default" href="{% url 'examenes:responder_examen' examen.id %}">Responder</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}