{% extends "base_tablas.html" %}
{% load examen_disponible %}

{% block titulo_pagina %}
    Listado de calificaciones
{% endblock %}

{% block titulo %}
    Listado de calificaciones
{% endblock %}

{% block subtitulo %}
    Información de calificaciones del examen: {{ examen }}
{% endblock %}

{% block titulo_panel %}
    Listado de calificaciones del examen: {{ examen }}
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">

        <table class="data-combine table table-bordered">
            <thead>
                <tr>
                    <th>
                        Estudiante
                    </th>
                    <th>
                        Iniciado
                    </th>
                    <th>
                        Terminado
                    </th>
                    <th>
                        Calificación
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for examen in examen.examenes_resueltos %}
                    <tr>
                        <td>
                            {{ examen.estudiante }}
                        </td>
                        <td>
                            {{ examen.iniciado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {{ examen.terminado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {% if examen.terminado or not examen|examen_disponible %}
                                {{ examen.obtener_calificacion }}%
                            {% endif %}
                        </td>
                        <td>
                            {% if examen.terminado or not examen.examen|examen_disponible %}
                                <a class="btn btn-sm btn-default" href="{% url 'examenes:ver_calificacion' examen.id %}">Ver calificación</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-default pull-left" href="{% url 'examenes:consultar_examenes' %}">Volver</a>
{% endblock %}