{% extends "base_tablas.html" %}
{% load iso8601_datetime %}

{% block titulo_pagina %}
    Listado de examenes
{% endblock %}

{% block titulo %}
    Listado de examenes
{% endblock %}

{% block subtitulo %}
    Información de los examenes creados
{% endblock %}

{% block titulo_panel %}
    Listado de examenes
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="data-combine table table-bordered">
            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Grupo
                    </th>
                    <th>
                        Fecha de inicio
                    </th>
                    <th>
                        Fecha de fin
                    </th>
                    <th>
                        Iniciado
                    </th>
                    <th>
                        Terminado
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for examen in lista_examenes %}
                    <tr>
                        <td>
                            {{ examen.titulo }}
                        </td>
                        <td>
                            {{ examen.grupo.nombre }}
                        </td>
                        <td>
                            {{ examen.fecha_inicio|iso8601_datetime }}
                        </td>
                        <td>
                            {{ examen.fecha_fin|iso8601_datetime }}
                        </td>
                        <td>
                            {{ examen.iniciado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {{ examen.terminado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            <a class="btn btn-sm btn-green" href="{% url 'examenes:detalle_examen' examen.id %}">Ver examen</a>
                            {% if examen.iniciado == False %}
                                <a class="btn btn-sm btn-default" href="{% url 'examenes:modificar_examen' examen.id %}">Modificar</a>
                                <a class="btn btn-sm btn-success" href="{% url 'examenes:iniciar_examen' examen.id %}">Iniciar</a>
                            {% elif examen.iniciado == True %}
                                <a class="btn btn-sm btn-info" href="{% url 'examenes:consultar_calificaciones_examen' examen.id %}">Ver calificaciones</a>
                            {% endif %}
                            {% if  examen.iniciado == True and examen.terminado == False %}
                                <a class="btn btn-sm btn-danger" href="{% url 'examenes:terminar_examen' examen.id %}">Terminar examen</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}