{% extends "base_tablas.html" %}
{% load static %}

{% block titulo_pagina %}
    Listado de preguntas
{% endblock %}

{% block titulo %}
    Listado de preguntas
{% endblock %}

{% block subtitulo %}
    Información de los preguntas creadas
{% endblock %}

{% block titulo_panel %}
    Listado de preguntas
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">
        <table class="data-combine table table-bordered">
            <thead>
                <tr>
                    <th>
                        Pregunta
                    </th>
                    <th>
                        Respuestas
                    </th>
                    <th>
                        Respuestas correctas
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for pregunta in lista_preguntas %}
                    <tr>
                        <td style="max-width: 40vw">
                            <div class="enunciado-pregunta table-responsive">
                                {{ pregunta.enunciado|safe }}
                            </div>
                        </td>
                        <td>
                            <ul>
                                {% for respuesta in pregunta.respuestas %}
                                    <li>{{ respuesta.respuesta }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for respuesta in pregunta.respuestas %}
                                    {% if respuesta.es_correcta %}
                                        <li>{{ respuesta.respuesta }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'examenes:detalle_pregunta' pregunta.id %}">Ver pregunta</a>
                            <a class="btn btn-sm btn-default" href="{% url 'examenes:modificar_pregunta' pregunta.id %}">Modificar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/apps/examenes/enunciado-pregunta.js' %}"></script>
{% endblock %}