{% extends "base_tablas.html" %}
{% load iso8601_datetime %}
{% load examen_disponible %}

{% block titulo_pagina %}
    Listado de examenes
{% endblock %}

{% block titulo %}
    Listado de examenes
{% endblock %}

{% block subtitulo %}
    Información de los examenes realizados
{% endblock %}

{% block titulo_panel %}
    Listado de examenes
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">

        <table class="data-combine table table-bordered">
            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Grupo
                    </th>
                    <th>
                        Fecha de inicio
                    </th>
                    <th>
                        Fecha de fin
                    </th>
                    <th>
                        Iniciado
                    </th>
                    <th>
                        Terminado
                    </th>
                    <th>
                        Calificación
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for examen_resuelto in lista_examenes %}
                    <tr>
                        <td>
                            {{ examen_resuelto.titulo }}
                        </td>
                        <td>
                            {{ examen_resuelto.grupo.nombre }}
                        </td>
                        <td>
                            {{ examen_resuelto.fecha_inicio|iso8601_datetime }}
                        </td>
                        <td>
                            {{ examen_resuelto.fecha_fin|iso8601_datetime }}
                        </td>
                        <td>
                            {{ examen_resuelto.iniciado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {{ examen_resuelto.terminado|yesno:"Sí,No,No" }}
                        </td>
                        <td>
                            {{ examen_resuelto.calificacion }}%
                        </td>
                        <td>
                            {% if examen_resuelto.terminado or not examen_resuelto.examen|examen_disponible %}
                                <a class="btn btn-sm btn-default" href="{% url 'examenes:ver_calificacion' examen_resuelto.id %}">Ver calificación</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}