{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block titulo_pagina %}
    Gestión de pregunta
{% endblock %}

{% block titulo %}
    Gestión de pregunta
{% endblock %}

{% block subtitulo %}
    Creación y edición de preguntas
{% endblock %}

{% block titulo_panel %}
    Gestión de pregunta
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/jquery-smart-wizard/src/css/smart_wizard.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet"/>
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <form name="form-wizard" class="form-control-with-bg" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <!-- begin wizard -->
                <div id="wizard">
                    <!-- begin wizard-step -->
                    <ul>
                        <li class="col-md-3 col-sm-4 col-6">
                            <a href="#step-1">
                                <span class="number">1</span>
                                <span class="info text-ellipsis">
									Información básica
									<small class="text-ellipsis">Enunciado</small>
								</span>
                            </a>
                        </li>
                        <li class="col-md-3 col-sm-4 col-6">
                            <a href="#step-2">
                                <span class="number">2</span>
                                <span class="info text-ellipsis">
									Respuestas
									<small class="text-ellipsis">Respuestas de la pregunta</small>
								</span>
                            </a>
                        </li>
                        <li class="col-md-3 col-sm-4 col-6">
                            <a href="#step-3">
                                <span class="number">3</span>
                                <span class="info text-ellipsis">
									Finalizar
									<small class="text-ellipsis">Finalizar registro</small>
								</span>
                            </a>
                        </li>
                    </ul>
                    <!-- end wizard-step -->
                    <!-- begin wizard-content -->
                    <div>
                        <!-- begin step-1 -->
                        <div id="step-1">
                            <!-- begin fieldset -->
                            <fieldset>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-8 -->
                                    <div class="col-md-8 offset-md-2">
                                        <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Información básica de la pregunta</legend>
                                        <!-- begin form-group -->
                                        <div class="form-group m-b-10">
                                            {% bootstrap_form form layout="vertical" %}
                                        </div>
                                        <!-- end form-group -->
                                    </div>
                                    <!-- end col-8 -->
                                </div>
                                <!-- end row -->
                            </fieldset>
                            <!-- end fieldset -->
                        </div>
                        <!-- end step-1 -->
                        <!-- begin step-2 -->
                        <div id="step-2">
                            <!-- begin fieldset -->
                            <fieldset>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-8 -->
                                    <div class="col-md-8 offset-md-2">
                                        <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Información de las respuestas a la pregunta</legend>
                                        {% for form_respuesta in formset_respuestas.forms %}
                                            {{ form_respuesta.media }}
                                            <div class="form-group m-b-10">
                                                <h5>Respuesta {{ forloop.counter }}</h5>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-7">
                                                        {% bootstrap_field form_respuesta.respuesta layout="vertical" show_label=False %}
                                                    </div>
                                                    <div class="col-md-12 col-lg-5">
                                                        {% bootstrap_field form_respuesta.imagen layout="vertical" %}
                                                        {% bootstrap_field form_respuesta.es_correcta layout="vertical" %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% for hidden in formset_respuestas.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {{ formset_respuestas.management_form }}
                                    </div>
                                    <!-- end col-8 -->
                                </div>
                                <!-- end row -->
                            </fieldset>
                            <!-- end fieldset -->
                        </div>
                        <!-- end step-2 -->
                        <!-- begin step-3 -->
                        <div id="step-3">
                            <div class="jumbotron m-b-0 text-center">
                                <h2 class="text-inverse">Pregunta completada</h2>
                                <button type="submit" class="btn btn-primary btn-lg">Enviar información</button>
                            </div>
                        </div>
                        <!-- end step-3 -->
                    </div>
                    <!-- end wizard-content -->
                </div>
                <!-- end wizard -->
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
    <script src="{% static 'plugins/parsley/dist/i18n/es.js' %}"></script>
    <script src="{% static 'plugins/jquery-smart-wizard/src/js/jquery.smartWizard.js' %}"></script>
    <script>
        var handleBootstrapWizardsValidation = function () {
            "use strict";
            $('#wizard').smartWizard({
                selected: 0,
                transitionEffect: '',
                transitionSpeed: 0,
                useURLhash: false,
                showStepURLhash: false,
                toolbarSettings: {
                    toolbarPosition: 'bottom'
                },
                lang: {
                    next: 'Siguiente',
                    previous: 'Anterior'
                }
            });
            $('#wizard').on('leaveStep', function (e, anchorObject, stepNumber, stepDirection) {
                var res = $('form[name="form-wizard"]').parsley().validate('step-' + (stepNumber + 1));
                return res;
            });

            $('#wizard').keypress(function (event) {
                if (event.which == 13) {
                    $('#wizard').smartWizard('next')
                }

            })
        };

        var FormWizardValidation = function () {
            "use strict";
            return {
                //main function
                init: function () {
                    handleBootstrapWizardsValidation();
                }
            };
        }();
    </script>
    <script>
        $(document).ready(function () {
            FormWizardValidation.init();
        });
    </script>
{% endblock %}