{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load iso8601_datetime %}

{% block titulo_pagina %}
    Responder examen
{% endblock %}

{% block titulo %}
    Responder examen
{% endblock %}

{% block subtitulo %}
{% endblock %}

{% block titulo_panel %}
    Responder examen
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/timeTo/timeTo.css' %}" rel="stylesheet"/>
    {{ formset_preguntas.media.css }}
    <style>
        div.pregunta-seleccionada {
            background: rgba(76, 175, 80, .3) !important;
        }
    </style>
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="row d-flex justify-content-center">
                <b style="font-size: 22px">Tiempo restante: </b>
                <div id="cuenta-regresiva"></div>
            </div>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% for form_pregunta in formset_preguntas.forms %}
                    <hr><h4>Pregunta {{ forloop.counter }}</h4>
                    <div class="row">
                        <h4>Enunciado:</h4>
                        <div class="col-sm-12">
                            <div class="card card-outline-default">
                                <div class="card-block">
                                    <div class="enunciado-pregunta table-responsive">
                                        {{ form_pregunta.pregunta.enunciado|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Opciones de respuesta:</h5>
                        {% for respuesta in form_pregunta.pregunta.respuestas %}
                            <div class="col-sm-12">
                                <div class="card card-outline-info">
                                    <div class="card-block d-flex flex-row justify-content-start opcion-respuesta">
                                        <div style="display: none;">
                                            {% for opcion_respuesta in form_pregunta.respuestas_seleccionadas %}
                                                {%  if opcion_respuesta.data.value == respuesta.id %}
                                                    {{ opcion_respuesta }}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if respuesta.imagen %}
                                            <img class="img-pregunta m-10" src="{{ respuesta.imagen.url }}">
                                        {% endif %}
                                        <p class="m-10">
                                            {{ respuesta.respuesta }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for hidden in form_pregunta.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for hidden in formset_preguntas.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ formset_preguntas.management_form }}
                <a class="btn btn-default pull-left" href="{% url 'examenes:consultar_examenes_estudiante' %}">Volver</a>
                <button type="submit" class="btn btn-primary pull-right">Terminar examen</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ formset_preguntas.media.js }}
    <script src="{% static 'plugins/timeTo/jquery.time-to.min.js' %}"></script>
    <script>
        $('#cuenta-regresiva').timeTo({
                'timeTo': new Date('{{ examen.examen.fecha_fin|iso8601_datetime|date:"Y-m-d H:i:s" }}'),
                'callback': function () {
                    $('form').submit();
                },
            }
        );
    </script>
    <script>
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        function guardar_examen_ajax() {
            $.ajax({
                type: 'POST',
                url: "{% url 'examenes:responder_examen' examen.examen.id %}",
                data: $('form').serializeArray(),
                // Always include an `X-Requested-With` header in every AJAX request,
                // to protect against CSRF attacks.
                dataType: 'json',
                success: function (data) {
                    setTimeout(function () {
                        toastr.options["timeOut"] = 3000;
                        toastr["info"]("Cambios guardados exitosamente.");
                    }, 500)
                },
                error: function (data) {
                    setTimeout(function () {
                        guardar_examen_ajax();
                    }, 1000)

                }
            });
        }

        $('form').on('change', function () {
            guardar_examen_ajax();
        })
    </script>

    <script src="{% static 'js/apps/examenes/enunciado-pregunta.js' %}"></script>

    <script>

            $('div.opcion-respuesta input').on('change', function (e) {
                if ($(this).prop('checked')) {
                    $(this).closest('div.opcion-respuesta').addClass('bg-green-transparent-3')
                } else {
                    $(this).closest('div.opcion-respuesta').removeClass('bg-green-transparent-3')
                }
            });

            $('div.opcion-respuesta').on('click', function (e) {
                $input = $(this).find('input[type="checkbox"]');
                if ($input) {
                    $input.prop("checked", !$input.prop("checked"));
                }
                if ($input.prop('checked')) {
                    $input.closest('div.opcion-respuesta').addClass('pregunta-seleccionada');
                } else {
                    $input.closest('div.opcion-respuesta').removeClass('pregunta-seleccionada');
                }
                $('form').trigger('change');
            });

            $('div.opcion-respuesta input').each(function () {
                if ($(this).prop('checked')) {
                    $(this).closest('div.opcion-respuesta').addClass('pregunta-seleccionada');
                } else {
                    $(this).closest('div.opcion-respuesta').removeClass('pregunta-seleccionada');
                }
            })
    </script>
{% endblock %}