{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block titulo_pagina %}
    Ver calificación examen
{% endblock %}

{% block titulo %}
    Calificación {{ examen.titulo }}
{% endblock %}

{% block subtitulo %}
{% endblock %}

{% block titulo_panel %}
    Calificación {{ examen.titulo }}
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="row">
                {% for pregunta in examen.preguntas %}
                    <div class="col-sm-12">
                        <div class="card {% if pregunta.resultado == 'respuesta_correcta' %} card-outline-success {% elif pregunta.resultado == 'respuesta_parcialmente_correcta' %} card-outline-warning{% elif pregunta.resultado == 'respuesta_incorrecta' %}card-outline-danger{% else %}card-outline-default{% endif %}">
                            <div class="card-header">
                                {% if pregunta.resultado == 'respuesta_correcta' %}
                                    <h4 style="color: green">
                                        <i class="fas fa-lg fa-fw m-r-10 fa-check"></i>Pregunta {{ forloop.counter }}
                                    </h4>
                                    <div class="enunciado-pregunta table-responsive">
                                        {{ pregunta.enunciado|safe }}
                                    </div>
                                    <br>
                                    <p>Respuesta correcta</p>
                                {% elif pregunta.resultado == 'respuesta_no_seleccionada' %}
                                    <h4>
                                        <i class="fas fa-lg fa-fw m-r-10 fa-question-circle"></i>Pregunta {{ forloop.counter }}
                                    </h4>
                                    <div class="enunciado-pregunta table-responsive">
                                        {{ pregunta.enunciado|safe }}
                                    </div>
                                    <br>
                                    <p>No se seleccionó una respuesta</p>
                                {% elif pregunta.resultado == 'respuesta_parcialmente_correcta' %}
                                    <h4 style="color: orange">
                                        <i class="fas fa-lg fa-fw m-r-10 fa-info"></i>Pregunta {{ forloop.counter }}
                                    </h4>
                                    <div class="enunciado-pregunta table-responsive">
                                        {{ pregunta.enunciado|safe }}
                                    </div>
                                    <br>
                                    <p>Respuesta parcialmente correcta</p>
                                {% elif pregunta.resultado == 'respuesta_incorrecta' %}
                                    <h4 style="color: red">
                                        <i class="fas fa-lg fa-fw m-r-10 fa-times"></i>Pregunta {{ forloop.counter }}
                                    </h4>
                                    <div class="enunciado-pregunta table-responsive">
                                        {{ pregunta.enunciado|safe }}
                                    </div>
                                    <br>
                                    <p>Respuesta incorrecta</p>
                                {% endif %}
                            </div>
                            <div class="card-block">
                                {% for respuesta in pregunta.respuestas %}
                                    {% if respuesta.es_correcta and respuesta in pregunta.respuestas_seleccionadas %}
                                        <div class="alert alert-outline alert-success fade show m-b-10 d-flex flex-row justify-content-start flex-wrap-reverse align-items-center">
                                            {% if respuesta.imagen %}
                                                <img class="img-pregunta m-10" src="{{ respuesta.imagen.url }}">
                                            {% endif %}
                                            <p class="m-10">
                                                {{ respuesta.respuesta }}
                                            </p></div>
                                    {% elif respuesta in pregunta.respuestas_seleccionadas %}
                                        <div class="alert alert-outline alert-danger fade show m-b-10 d-flex flex-row justify-content-start flex-wrap-reverse align-items-center">
                                            {% if respuesta.imagen %}
                                                <img class="img-pregunta m-10" src="{{ respuesta.imagen.url }}">
                                            {% endif %}
                                            <p class="m-10">
                                                {{ respuesta.respuesta }}
                                            </p></div>
                                    {% else %}
                                        <div class="alert alert-outline alert-light fade show m-b-10 d-flex flex-row justify-content-start flex-wrap-reverse align-items-center">
                                            {% if respuesta.imagen %}
                                                <img class="img-pregunta m-10" src="{{ respuesta.imagen.url }}">
                                            {% endif %}
                                            <p class="m-10">
                                                {{ respuesta.respuesta }}
                                            </p></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-block">
                                <div class="alert alert-outline alert-info fade show m-b-10">
                                    <h5>Respuesta(s) correcta(s)</h5>
                                    {% for respuesta in pregunta.respuestas %}
                                        <ul>
                                            {% if respuesta.es_correcta %}
                                                <li>{{ respuesta.respuesta }}</li>
                                            {% endif %}
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-footer">
                                Puntúa {{ pregunta.calificacion }} de 1,00
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-default pull-left" href="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}{% url 'inicio' %}{% endif %}">Volver</a>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/apps/examenes/enunciado-pregunta.js' %}"></script>
{% endblock %}