{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo_pagina %}
    Gestión de grupo
{% endblock %}

{% block titulo %}
    Gestión de grupo
{% endblock %}

{% block subtitulo %}
    Creación y edición de grupos
{% endblock %}

{% block titulo_panel %}
    Gestión de grupo
{% endblock %}

{% block contenido_panel %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% bootstrap_form form layout="vertical" %}
{#                <a class="btn btn-default pull-left" href="{% url 'grupos:consultar_grupos' %}">Volver</a>#}
                <button type="submit" class="btn btn-primary pull-right">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}