{% extends "base_tablas.html" %}

{% block titulo_pagina %}
    Listado de grupos
{% endblock %}

{% block titulo %}
    Listado de grupos
{% endblock %}

{% block subtitulo %}
    Información de los grupos dirigidos
{% endblock %}

{% block titulo_panel %}
    Listado de grupos
{% endblock %}

{% block botones_panel %}
    <a class="btn btn-sm btn-success m-0 p-3" href="#">Ingresar a un grupo</a>
{% endblock %}

{% block contenido_panel %}
    <div class="table-responsive">

        <table class="data-combine table table-bordered">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Código de acceso
                    </th>
                    <th>
                        Código de grupo
                    </th>
                    <th>
                        Número de grupo
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in lista_grupos %}
                    <tr>
                        <td>
                            {{ grupo.nombre }}
                        </td>
                        <td>
                            {{ grupo.codigo_acceso }}
                        </td>
                        <td>
                            {{ grupo.codigo }}
                        </td>
                        <td>
                            {{ grupo.numero }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}